### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [119]:
# Dependencies and Setup
import pandas as pd


# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [120]:
total_players = purchase_data.loc[:, ["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price" ]]
total_players.head()
player_count = total_players.drop_duplicates()
player_number = total_players.count()[0]
player_number

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [145]:
unique_items = len(purchase_data["Item ID"].unique())
unique_items

179

In [74]:
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [75]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [125]:
analysis_df = pd.DataFrame({'Unique Items': [unique_items], 'Average': [average_price],
                                    'Total Revenue': [total_revenue]})
analysis_df

   Unique Items   Average  Total Revenue
0           179  3.050987        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [88]:
gender_count = total_players["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [93]:
male_percentage = 652/780 * 100
male_percentage

83.58974358974359

In [95]:
female_percent = 113/780 * 100
female_percent

14.487179487179489

In [96]:
other_percent = 15/780 * 100
other_percent

1.9230769230769231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [203]:
purchase_count = total_players

purchase_count_grouped = purchase_count.groupby("Gender")
purchase_counts = purchase_count_grouped.size()
avg_prices = purchase_count_grouped.mean()["Price"]
avg_total = purchase_counts * avg_prices

purchasing_analysis = pd.DataFrame({"Purchase Counts" : purchase_counts, "Average Prices" : avg_prices, "Average Total" : avg_total})
purchasing_analysis

                       Purchase Counts  Average Prices  Average Total
Gender
Female                             113        3.203009         361.94
Male                               652        3.017853        1967.64
Other / Non-Disclosed               15        3.346000          50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [209]:
bins_for_age = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 110]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins_for_age

binned_data = pd.cut(purchase_count["Age"], bins_for_age)
binned_data

0       (19.9, 24.9]
1      (39.9, 110.0]
2       (19.9, 24.9]
3       (19.9, 24.9]
4       (19.9, 24.9]
           ...
775     (19.9, 24.9]
776     (19.9, 24.9]
777     (19.9, 24.9]
778       (0.0, 9.9]
779     (19.9, 24.9]
Name: Age, Length: 780, dtype: category
Categories (8, interval[float64]): [(0.0, 9.9] < (9.9, 14.9] < (14.9, 19.9] < (19.9, 24.9] < (24.9, 29.9] < (29.9, 34.9] < (34.9, 39.9] < (39.9, 110.0]]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [210]:
purchase_count_grouped = purchase_count.groupby("Age")
purchase_counts = purchase_count_grouped.size()
avg_prices = purchase_count_grouped.mean()["Price"]
avg_total = purchase_counts * avg_prices

purchasing_analysis_age = pd.DataFrame({"Purchase Counts" : purchase_counts, "Average Prices" : avg_prices, "Average Total" : avg_total})
purchasing_analysis_age

     Purchase Counts  Average Prices  Average Total
Age
7                  9        3.654444          32.89
8                  8        3.246250          25.97
9                  6        3.045000          18.27
10                 9        3.536667          31.83
11                 7        2.684286          18.79
12                 6        2.633333          15.80
13                 4        2.362500           9.45
14                 2        3.455000           6.91
15                35        3.018571         105.65
16                30        3.018667          90.56
17                22        2.930909          64.48
18                26        3.162308          82.22
19                23        3.042609          69.98
20                99        3.174949         314.32
21                62        2.915161         180.74
22                70        2.955000         206.85
23                67        3.013881         201.93
24                67        3.137612         210.22
25                59        3.083051         181.90
26                14        2.870714          40.19
27                10        2.723000          27.23
28                 5        1.690000           8.45
29                13        2.710000          35.23
30                35        3.152000         110.32
31                 7        3.435714          24.05
32                 8        2.836250          22.69
33                14        2.486429          34.81
34                 9        2.458889          22.13
35                14        3.716429          52.03
36                 5        2.532000          12.66
37                 7        3.644286          25.51
38                 9        3.794444          34.15
39                 6        3.886667          23.32
40                 6        2.785000          16.71
41                 2        3.270000           6.54
42                 1        3.930000           3.93
43                 1        4.000000           4.00
44                 2        2.680000           5.36
45                 1        1.700000           1.70

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [221]:
sn_grouped = purchase_data.groupby('SN')

#Count total purchases by each name
purchase_count_sn = sn_grouped['Purchase ID'].count()

#Calculate mean purchase by SN
mean_purchase_price_sn = sn_grouped['Price'].mean()

#Calculate purchase total
purchase_total_sn = sn_grouped['Price'].sum()

sorted_purchases = purchase_total_sn.sort_values(ascending=False)
sorted_purchases.head()

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [231]:
pop_items = purchase_data[["Item ID", "Item Name", "Price"]]

pop_items_grouped = pop_items.groupby(["Item ID", "Item Name"])
purchase_counts = pop_items_grouped.size()
avg_prices = pop_items_grouped.mean()["Price"]
avg_total = purchase_counts * avg_prices

pop_item_analysis = pd.DataFrame({"Purchase Counts" : purchase_counts, "Average Prices" : avg_prices, "Average Total" : avg_total})
pop_item_analysis = pop_item_analysis.sort_values("Purchase Counts", ascending=False)
pop_item_analysis

,,Purchase Counts,Average Prices,Average Total
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
...,...,...,...,...
42,The Decapitator,1,1.750000,1.75
51,Endbringer,1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,2.17
104,Gladiator's Glaive,1,1.930000,1.93
91,Celeste,1,4.170000,4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [232]:
pop_item_analysis.sort_values("Average Total", ascending=False)

,,Purchase Counts,Average Prices,Average Total
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
126,Exiled Mithril Longsword,1,2.000000,2.00
125,Whistling Mithril Warblade,2,1.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75

In [ ]:
#Analysis
#The three trends I noticed: Firstly, the amount of male players is much higher than the amount of female player/other players, with over 80% of all purchases being made by males
#Secondly, despite being expensive in comparison to other items, the "Final Critic" item was the most popular item.
#Lastly, Lisosia93 had the most purchases out of any player.